/*Colour Palette
/---------------
#0B2343 - Oxford Blue
#ffcc05 - Sunglow
#FF6B40 - Outrageous Orange
#00BAE4 - Cyan Process
*/


/* Fonts
/-------
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

@media (min-width: 480px) {
	/*CSS for medium width screens*/
  }
  
  @media (min-width: 800px) {
	/*CSS for wide screens*/
  }
  
  @media (min-width: 1100px) {
	/*CSS for really wide screens*/
  }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


.container {
	padding: 0 5%;
}

nav{
	display: flex;
	position: fixed;
    width: 99%;
    margin: auto;
    padding: 10px 0;
    align-items: top;
    justify-content: space-between;
	background-color: #0B2343;
	border-bottom: 1px solid #ffcc05 ;

}

nav img {
	width: auto;
	color: #ffcc05;
	height: 5rem;
	margin: 1rem;
}

.sec1 {
	border: 1px solid green;
	padding-top: 6rem;
	background-color: #0B2343;
	/* background: url(https://c0.wallpaperflare.com/preview/300/178/515/china-haixi-mengguzuzangzuzizhizhou-unnamed-road.jpg); */
	background-size: cover;
	padding: 8%;
}

.sec2 {
	/* border: 1px solid green; */
	background-color: #ffcc05;
	padding: 10rem;
	/* opacity: 0.6; */
	
}

.sec3 {
	border: 3px solid rgb(255, 0, 0);
	padding: 1rem auto;
	
	display: flex;
	margin: 0.5rem 0;
	
}

/* section 3 have two sections left-bar and right-bar */
.left-bar {
	flex-basis: 40%;
	float: left;
	text-align: center;
	border: 2px solid green;
	margin: 0.5rem;
	border-radius: 12px;
	background-color: #ffffff;
}

/* section 3 have two sections left-bar and right-bar */
.right-bar {
	background-color: #ffffff;
	flex-basis: 60%;
	float: right;
	border: 2px solid rgb(0, 0, 0);
	margin: 0.5rem; 
	padding: 0.2rem 2rem; /* content inside of the right bar */
	border-radius: 12px;
	
}

footer{
	background-color: #071930;
}

footer img{
	color: white;
	width: 200px;
	height: auto;
	justify-content: left;
}


nav ul{
	display: inline-flex;
	/* border: 1px solid rgb(255, 255, 255); */
	margin: 2rem 0;
	list-style:none;
	float: right;
	justify-content: flex-end;
}

nav li a {
	color: #ffcc05;
	padding-bottom: 0.9rem;
	text-decoration: none;
}

nav h1{
	color: #0B2343;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
	justify-content: flex-start;
	float: left;
	color: white;
	display: none;
}

nav ul li {
	
	margin: 0.5rem 1rem;
	/* background-color: #1a375c; */
	/* border-radius: 1px; */
	/* padding:0.5rem 1rem; */

	font-family: century;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
	
    margin: 10px 20px;

	text-decoration: none;
    color: #ffcc05;
    font-weight: bold;
    transition: all .5s ease;


}

nav ul li a:hover {
    color: #0B2343;
    background-color: rgb(196, 213, 228);
    box-shadow: 0 0 10px #ffcc05;
    cursor: pointer;
	border-radius: 2px;
	padding: 0.5rem;
}




/* h2{
	color: #0B2343;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 700;
	font-size:2rem;
}

h3{
	color: #0B2343;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}


p{
	font-family:'Montserrat',sans-serif;
	font-weight: 400;
	font-size:1.1rem;
}

.colour{
	height:160px;
	width:160px;
	border:none;
}
.blue{
	background-color: #0B2343;

	color:#ffcc05;
}
.yellow{
	background-color:#ffcc05;
}
	
.flame{
	background-color:#FF6B40;
}

.light-blue{
	background-color:#00BAE4;
	
}

.logo-dark{
	background-color: #0B2343;
	

} */
















